{% extends 'base.html.twig' %}

{% block titre %}Mon Profil{% endblock %}

{% block body %}

    <div class="container mb-5">
        <br>
        <br>
        <br>
        <br>
        <div class="mt-4">
        {{ form_start (formulaire)}}
        {{ form_widget (formulaire)}}
        <button class="btn btn-primary" type="submit" name="update">Modifier</button>
        {{ form_end (formulaire)}}
            <img src="{{ asset('ProfilePictures/' ~ participant.profilePictureFileName) }}">
        </div>
    </div>
{% endblock %}