{% extends 'base.html.twig' %}


{% block titre %}
Modifier une sortie
{% endblock %}


{% block body %}
{{ form_start(formulaire)}}
{{ form_widget(formulaire)}}
<button class="btn btn-info" type="submit">Modifier</button>
{{ form_end(formulaire)}}
{% endblock %}